
h4 {
    font-size: 18px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

p {
    margin: 0 0 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-0 {
    padding-bottom: 0px;
}

.dl {
    display: inline-block;
}

.db {
    display: block;
}

.height100 {
    height: 100%;
}

.pabbly-logo a img {
    margin-top: 3px;
}

.login-header-container {
    box-shadow: 1px 2px 6px #e8e4e4;
    background: #fff!important;
    border: 1px solid #fff!important;
    padding: 15px 0;
    color: #73879c;
}

.login-header-container .header-description-container {
    float: right;
}

.login-header-container .header-description-container a {
    margin-left: 15px;
}

.login-header-container .header-description-container p {
    display: inline-block;
    vertical-align: inherit;
}

.login-form-container, .signup-form-container {
    margin: 85px 0;
}

/*.login-info-container{
        padding-left: 103px;
        margin-top: 80px;
}*/

.login-wrapper .login-info-container .login-details-container h1, .signup-wrapper .login-info-container .login-details-container h1 {
    font-size: 33px;
    color: #17212b;
    font-weight: bold;
}

.login-wrapper .login-info-container .login-details-container p, .signup-wrapper .login-info-container .login-details-container p {
    font-size: 21px;
    color: #4d4d4d;
    letter-spacing: .5px;
    word-spacing: 1.1px;
}

.login-wrapper .login-info-container .login-img-container img, .signup-wrapper .login-info-container .login-img-container img {
    margin-top: 25px;
    width: 100%;
    max-width: 420px;
}

.login-wrapper .login-form-wrapper .login-container, .signup-wrapper .signup-form-wrapper .signup-container {
    box-shadow: 0 0 15px rgba(81, 71, 217, 0.15);
    max-width: 460px;
    background: #fff;
    width: 100%;
    /*    margin: 0 auto;*/
    /*    float: right;*/
}

.login-wrapper .login-form-wrapper h1.login-head, .signup-wrapper .signup-form-wrapper h1.login-head {
    margin-bottom: 35px;
    padding-top: 35px;
    font-size: 25px;
    color: #17212b;
    text-align: center;
}

.login-wrapper .login-form-wrapper.authn-form .google-sign-up, .signup-wrapper .signup-form-wrapper.authn-form .google-sign-up {
    background: #4285f4;
    color: #fff;
    display: block;
    margin: 0 auto 25px;
    text-align: center;
    border: 1px solid #d4d9e2;
    border-radius: 4px;
    font-size: 16px;
    padding: 14px 0 14px 3px;
}

.login-wrapper .login-form-wrapper.authn-form .google-sign-up img, .signup-wrapper .signup-form-wrapper.authn-form .google-sign-up img {
    float: left;
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    max-width: 45px;
    margin-top: -11px;
    width: 100%;
}

.login-wrapper .login-form-section .google-or-text, .signup-wrapper .signup-form-section .google-or-text {
    position: relative;
    width: 100%;
    height: 35px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.login-wrapper .login-form-section .google-or-text span, .signup-wrapper .signup-form-section .google-or-text span {
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 6px 4px;
    font-size: 10px;
}

.login-wrapper .login-form-section .google-or-text::before, .login-wrapper .login-form-section .google-or-text::after, .signup-wrapper .signup-form-section .google-or-text::before, .signup-wrapper .signup-form-section .google-or-text::after {
    position: absolute;
    max-width: 46%;
    height: 1px;
    top: 14px;
    background-color: #ccc;
    content: '';
    width: 100%;
}

.login-wrapper .login-form-section .google-or-text::before, .signup-wrapper .signup-form-section .google-or-text::before {
    left: 0;
}

.login-wrapper .login-form-section .google-or-text:after, .signup-wrapper .signup-form-section .google-or-text::after {
    right: 0;
}

.login-form-section form, .signup-form-section form {
    padding: 0px 50px;
}

.signup-wrapper .signup-form-section .form-fields {
    display: inline-flex;
}

.signup-form-section form input[type=text]:first-child {
    margin-right: 12px;
}

.signup-form-section form input[type=email], .signup-form-section form input[type=password], .signup-form-section form input[type=text], .login-form-section form input[type=email], .login-form-section form input[type=password] {
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, .08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, .08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, .08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}

.signup-form-section form p.help-text {
    font-size: 14px;
    color: #777777;
    margin-top: 20px;
}

.login-form-section form .btn-login-account, .signup-form-section form .btn-login-account {
    background: #fc4b6c;
    border: 1px solid #fc4b6c;
    padding: 8px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.login-form-section form .pabbly-signin-text, .signup-form-section form .pabbly-signin-text {
    padding-bottom: 50px;
}

.login-form-section form .pabbly-signin-text p, .signup-form-section form .pabbly-signin-text p {
    font-size: 15px;
    color: #626262;
    text-align: center;
    margin-bottom: 0;
}

/*Media Queries*/

@media (min-width: 768px) and (max-width: 991px) {
    .login-form-section form, .signup-form-section form {
        padding: 0px 35px;
    }
    .login-wrapper .login-form-section .google-or-text::before, .login-wrapper .login-form-section .google-or-text::after, .signup-wrapper .signup-form-section .google-or-text::before, .signup-wrapper .signup-form-section .google-or-text::after {
        max-width: 44%;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media (max-width: 576px) {
    .login-header-container .pabbly-logo {
        text-align: center;
    }
    .login-header-container .header-description-container {
        text-align: center;
        float: none;
        display: block;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .login-wrapper .login-form-wrapper.authn-form .google-sign-up, .signup-wrapper .signup-form-wrapper.authn-form .google-sign-up {
        font-size: 16px;
        padding: 10px 0 7px 3px;
    }
    .login-wrapper .login-form-wrapper.authn-form .google-sign-up img, .signup-wrapper .signup-form-wrapper.authn-form .google-sign-up img {
        padding: 7px;
        max-width: 32px;
        margin-top: -7px;
    }
    .login-form-section form, .signup-form-section form {
        padding: 0px 35px;
    }
    .login-wrapper .login-form-section .google-or-text::before, .login-wrapper .login-form-section .google-or-text::after, .signup-wrapper .signup-form-section .google-or-text::before, .signup-wrapper .signup-form-section .google-or-text::after {
        max-width: 42%;
    }
}





.dw-user-box .u-img {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

.dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}

div.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, .13);
}

a.logout-text {
    display: block;
    color: #73879c;
    text-decoration: none;
}

.logout-text .fa {
    font-size: 15px;
}

.logout-text h5 {
    font-size: 15px;
}

.profile-img-grav img {
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.container-wrap {
    background: #eef8ff;
    padding-top: 60px;
    padding-bottom: 120px;
}

.app-head {
    font-family: "Avenir Next W01", Sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 2.5em;
    letter-spacing: 0px;
}

p.app-description {
    margin-bottom: 40px;
    color: #39393d;
    font-size: 19.4px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.3px;
}

.app-product-wrapper {
    background: #ffffff;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #d5e3ed;
    transition: background 1.5s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /* margin: 0px 20px 0px 0px; */
    padding: 15px 15px 30px 15px;
    border-radius: 6px 6px 6px 6px;
}
.app-product-wrapper .app-prod-image{
    margin-top: 20px;
    margin-bottom: 20px;
}
p.sub-head {
    color: #121c3d;
    font-family: "Avenir Next W01", Sans-serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 1.8em;
    letter-spacing: 0.2px;
}

p.app-product-description {
    color: #39393d;
    font-family: "Avenir Next W01", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
}

.btn-access-now {
    font-size: 15px;
    font-weight: 400;
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff6445;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 26px 6px 26px;
    transition: all .3s;
}

.btn-access-now:hover {
    color: #ffffff;
    background-color: #00c0cc;
    border-color: #00c0cc;
}

.hi-text {
    font-size: 15px;
    margin-right: 10px;
    text-transform: capitalize;
}

body.body-app {
    background: #eef8ff;
}

.login-header-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.login-header-container.sticky {
    box-shadow: 0 0 30px rgba(102, 105, 107, 0.17);
    -webkit-box-shadow: 0 0 30px rgba(102, 105, 107, 0.17);
    -moz-box-shadow: 0 0 30px rgba(102, 105, 107, 0.17);
    padding: 10px 25px;
}

.login-header-container.sticky {
    /* padding-top: 102px; */
    z-index: 10000;
}